#bodyTag {

  background-color: azure;
}

.button:hover {background-color:aliceblue}


.doneness{
  background-color: rgb(47, 148, 16);
}
/* 
.container {
  display: grid;
  align-content: space-between;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 10px;
  border: 2px, black;
}  */

/* .container {
  display: grid;
  grid-template-columns: 500px;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
 
  background-color: blueviolet;
  /* padding: 10px; */
  /* border-radius: 50px;
}  */
/* .item {
  background-color: #80cbc4;
  border: 6px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 50px;

} */